fastapi==0.111.1
uvicorn[standard]==0.30.1
SQLAlchemy==2.0.30
asyncpg==0.29.0
pydantic==2.7.4
pydantic-settings==2.2.1
python-dotenv==1.0.1
alembic==1.13.1
httpx==0.27.0
cryptography==42.0.8
aiogram==3.7.0
