version: "3.9"

services:
  loki:
    image: grafana/loki:2.9.6
    container_name: loki
    command: ["-config.file=/etc/loki/local-config.yaml"]
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml:ro
      - loki-data:/loki
    ports:
      - "3100:3100"
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.6
    container_name: promtail
    command: ["-config.file=/etc/promtail/config.yaml"]
    volumes:
      - ./promtail-config.yaml:/etc/promtail/config.yaml:ro
      - /var/log:/var/log
      - /var/log/journal:/var/log/journal
      - /run/log/journal:/run/log/journal
      - /etc/machine-id:/etc/machine-id
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=SuperStrongPass123     # поменяй при желании
      - GF_SERVER_ROOT_URL=https://logs.firstgamble.ru
    volumes:
      - grafana-storage:/var/lib/grafana
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  loki-data:
  grafana-storage:
